<!DOCTYPE html>
<html>
<head>
  <title>Tweeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'All Tweets', tweets_path %>
    <%= link_to 'New Tweet', new_user_path %>
    <%= link_to 'Search', root_path %>
  </nav>
</header>

<%= yield %>
<footer><%= params.inspect %></footer>
</body>
</html>
